<content-type name="/component/home-scenario" is-wcm-type="true">
	<label>Component - Home Page Scenario</label>
	<form>/component/home-scenario</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>true</previewable>
	<noThumbnail>false</noThumbnail>
	<image-thumbnail>page-home.png</image-thumbnail>
	<paths>
		<includes>
			<pattern>^/site/components/home-scenarios/.*</pattern>
		</includees>
	</paths>
</content-type>
