<content-type name="/page/j9-demo-type" is-wcm-type="true">
<label>J9 Demo Type</label>
<form>/page/j9-demo-type</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>true</content-as-folder>
<previewable>true</previewable>
<noThumbnail>true</noThumbnail>
<image-thumbnail></image-thumbnail>
</content-type>